:root {
  --default-clr: black;
  --primary-clr: #222020;
  --font: 16px;
  --font-clr: #fff;
  --font-gray: #ccc;
}
.light-mood {
  background-color: #fff;
  color: #222020;
}
html {
  background-color: var(--default-clr);
  font-size: var(--font);
  color: var(--font-gray);
  margin: 8px 15px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: grid;
  grid-template-columns: 5rem 1fr;
  gap: 0.5rem;
}
.container {
  background-color: var(--primary-clr);
  margin: 0.2rem;
  border-radius: 0.5rem;
}
.grid {
  display: grid;
  justify-content: space-between;
}
.grid--2-cols {
  grid-template-columns: 1fr 1fr;
}
.grid--2-rows {
  grid-template-rows: 1fr 1fr;
}
div {
  padding: 0.3rem;
}
.bold {
  color: var(--font-clr);
  font-weight: 700;
}
/*==≠=============
    Nav
================*/
.navs {
  width: 5rem;
  height: 100vh;
}
.nav-links {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
}
.nav-links li {
  padding: 0.5rem;
  list-style-type: none;
}
.logo {
  font-size: 1.5rem;
  padding: 0.5rem;
  padding-left: 1.5rem;
  margin: 0 auto;
  color: var(--font-clr);
}
a:visited,
a:link {
  color: var(--font-gray);
  text-decoration: none;
}
a:active {
  color: var(--font-clr);
}
/*==≠=============
    Main info section
================*/
.main {
  grid-template-columns: 2fr 1fr;
  margin-bottom: 1rem;
}
/*==≠=============
    Today infos
================*/
.search-city {
  padding-left: 0;
}
input {
  width: 90%;
  height: 2rem;
}
input::placeholder {
  color: var(--font-gray);
  padding-left: 1rem;
  font-size: 1.1rem;
  align-self: center;
}
.search-btn {
  font-size: 1.5rem;
  color: #158af6;
  border-radius: 30%;
  padding: 0 0.5rem;
  background-color: var(--default-clr);
}
.today-info-container {
  display: grid;
  grid-template-rows: 2rem repeat(3, 1fr);
  gap: 0.5rem;
}
.weather-info {
  padding-top: 1rem;
  padding-left: 1rem;
  height: 100%;
}
.today-weather {
  margin-top: -1rem;
}
.city {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.city p {
  font-size: 1.7rem;
  margin-top: 1.5rem;
}
.city-description {
  font-size: 0.75rem;
}

.condition-img {
  text-align: center;
  font-size: 6rem;
}
.all-today-info {
  overflow-x: hidden;
}
.forecast-container {
  padding-top: 1rem;
  display: flex;
  overflow-x: scroll;
}

.forecast-in-time {
  width: 8rem;
  border-right: 2px solid #aaa;
}
.forecast-img {
  font-size: 2rem;
  padding: 0.5rem;
}
/*+++++++++++
    Additional info
+++++++++++++++*/
.air-condition-title {
  display: flex;
  justify-content: space-between;
}
.see-more-btn {
  background-color: #158af6;
  color: var(--font-clr);
  padding: 0.25rem 0.75rem;
  border-radius: 0.5rem;
}
.air-condition-detail p {
  padding-top: 0.5rem;
  padding-left: 1rem;
}
.air-condition-detail p span {
  padding-left: 2.5rem;
  font-size: 1.6rem;
  font-weight: 600;
}
.air-condition-detail p strong {
  font-size: 1.6rem;
}
/*==≠=============
    LOg-out & dark-mood
================*/
.dark-log-out {
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  height: 2.5rem;
  margin-bottom: 0.7rem;
  align-items: center;
  padding-left: 50%;
  background-color: var(--primary-clr);
}
.dark-log-out button {
  font-size: 1.5rem;

  border-radius: 50%;
  text-align: center;
  cursor: pointer;
}
/*==≠=============
    All week DAY
================*/
.all-7-days {
  padding-top: 2rem;
  /* margin-top: 3rem; */
}
.days-in-week-container {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  overflow-y: scroll;
}
.day-in-week {
  display: inherit;
  justify-content: space-around;
  align-items: center;
  height: 3.5rem;
  padding: 1rem 0;
  border-bottom: 1px solid #aaa;
}

/*==≠=============
    MEDIA QUERY
================*/
@media (max-width: 680px) {
  body {
    display: flex;
    flex-direction: column;
  }
  .navs {
    position: relative;
    top: 1%;
    left: 1%;
    height: 3rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .logo {
    margin-left: 1rem;
    padding: 0;
  }
  .nav-links {
    flex-direction: row;
    margin-top: -1rem;
    margin-right: 2rem;
  }
  .main {
    display: flex;
    flex-direction: column;
  }
}
